<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800628899578-id570mej7vcttsqfodfcds4gcuao1ns1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800628899578-id570mej7vcttsqfodfcds4gcuao1ns1</string>
	<key>API_KEY</key>
	<string>AIzaSyB6r5ar5haHsR9HOPMgkCa3mILw-gpHEF8</string>
	<key>GCM_SENDER_ID</key>
	<string>800628899578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.with-piano.wipi</string>
	<key>PROJECT_ID</key>
	<string>with-piano</string>
	<key>STORAGE_BUCKET</key>
	<string>with-piano.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800628899578:ios:cad0307d7a635f20bed343</string>
	<key>DATABASE_URL</key>
	<string>https://with-piano.firebaseio.com</string>
</dict>
</plist>